<div class="container">
  <div class="row">
    <input type="text" class="form-control" [(ngModel)]="serverName">
    <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
    <p>{{allowNewServer}}</p>
  </div>
  <div class="row">
    <!-- <p>The Server with ID
      {{ serverId }} is
      {{ getServerStatus() }} -->
    <!-- <p>{{serverCreationStatus}}</p> -->

    <p *ngIf="serverCreated; else noServer" [ngStyle]="{color: getColor()}">Server was created with name {{serverName}}</p>
    <ng-template #noServer>
      <p>No server was created!</p>
    </ng-template>

    <app-server *ngFor="let server of servers"></app-server>

  </div>
</div>